/*=========== tabelas de conteúdo ===========
1 - Common CSS
2 - Page CSS
==========================================*/

/*---------------------------------------
1. Common CSS
----------------------------------------*/

.header_menu-item {
    text-transform: uppercase;
}

.content-section_title-span-3 {
    color: var(--yellow_a700);
}

.content-section_title-span-1 {
    color: var(--green_a700);
}

.description {
    color: var(--cyan_50) !important;
    text-align: center;
    align-self: stretch;
    line-height: 24px;
}

.user-profile {
    width: 100%;
    display: flex;
}

.user-profile_row {
    width: 100%;
    display: flex;
    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.user-profile_image {
    height: 280px;
    width: 36%;
    object-fit: contain;
    @media only screen and (max-width: 550px) {
        width: 100%;
    }
}

.user-profile_image--modifier {
    height: 280px;
    margin-left: -32px;
    position: relative;
    width: 60%;
    object-fit: contain;
    @media only screen and (max-width: 550px) {
        width: 100%;
        margin-left: 0px;
    }
}


.header_brand {
    font-family: Iceland !important;
    @media only screen and (max-width: 1440px) {
            font-size: 48px;
        }
}

.content-section_title-span {
    color: var(--white_a700);
}

.header_brand-span-1 {
    color: transparent;
    background: radial-gradient(180deg, #00b74900, #00b749);
    background-clip: text;
}

.guide-section_heading {
    display: flex;
}

/*---------------------------------------
2. Page CSS
----------------------------------------*/

/* Estilos gerais para a seção do Grand Guide */
.grand-guide {
    overflow-x: scroll;
    background-color: var(--black_900_01);
    width: 100%;
}

/* Estilos para a coluna principal */
.colum_two {
    width: 1920px;
}

/* Estilos para a segunda coluna */
.columngg {
    gap: 46px;
    z-index: 1;
    display: flex;
    position: relative;
    flex-direction: column;
}

/* Estilos gerais para o header */
header {
    display: flex;
    background-color: var(--gray_900_02);
    justify-content: center;
    align-items: center;
}

/* Estilos para a linha superior do header */
.header_top-row {
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
@media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
    }
}

@media only screen and (max-width: 1050px) {
    .header_top-row {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header__brand-row {
    align-self: center;
    width: 44%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }

@media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.header_menu {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
}

.header_search {
    color: var(--white_a700);
    margin-top: 12px;
    padding-left: var(--space-md);
    font-family: Geo;
    font-size: 15px;
    font-weight: 500;
    gap: var(--space-md);
    display: flex;
    width: 24%;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid var(--yellow_a700);
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.rewind {
    height: 20px;
    width: 28px;
    object-fit: cover;
}

.content-section {
    margin-left: 360px;
    margin-right: 284px;
    gap: 24px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
}


.content-section_column {
    flex: 1;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
            align-self: stretch;
            padding-left: 20px;
            padding-right: 20px;
    }
}

.content-section_title {
    font-family: Chakra Petch, sans-serif !important;
    line-height: 64px;
    @media only screen and (max-width: 1440px) {
        font-size: 48px;
    }
}

.content-section_subtitle {
    color: var(--teal_100) !important;
    margin-top: 14px;
    font-weight: 600 !important;
    width: 44%;
    line-height: 24px;
    font-family: Chakra Petch, !important;
    @media only screen and (max-width: 1440px) {
        width: 100%;
    }
}

@media only screen and (max-width: 1050px) {
    .content-section_subtitle {
        width: 100%;
    }
}

.content-section__subtitle-span-3 {
    color: var(--yellow_a400);
}

.content-section_image {
    height: 410px;
    margin-top: 38px;
    object-fit: cover;
}

.content-section_side-image {
    height: 644px;
    margin-top: 6px;
    width: 32%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

section {
    margin-top: -72px;
    position: relative;
}

.column_one {
    margin-top: 202px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    align-self: stretch;
}

.sectionbar {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: var(--gray_900_02);
    @media only screen and (max-width: 1050px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .data-section {
        padding-top: var(--space-md);
        padding-bottom: var(--space-md);
    }
}

.row2024guias {
    margin-top: 12px;
    padding-left: 26px;
    padding-right: 26px;
    display: flex;
    align-items: start;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }

@media only screen and (max-width: 550px) {
        padding-left: var(--space-md);
        padding-right: var(--space-md);
    }
}

.data-section {
    padding-left: 30px;
    padding-right: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
        flex-direction: column;
    }

@media only screen and (max-width: 550px) {
        padding-left: var(--space-md);
        padding-right: var(--space-md);
    }
}

.data-section_column {
    gap: var(--space-sm);
    display: flex;
    width: 46%;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.data-section_title {
    color: var(--light_blue_a200) !important;
    margin-left: 52px;
    font-family: Chakra Petch !important;
    text-align: center;
    line-height: 50px;
    @media only screen and (max-width: 1050px) {
        font-size: 27px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 550px) {
    .data-section_title {
        font-size: 21px;
    }
}

.data-section_description {
    color: var(--cyan_50) !important;
    text-align: center;
    line-height: 24px;
}

.data-section_column-1 {
    padding-left: 6px;
    padding-right: 6px;
    padding: var(--space-xs);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
        padding-left: 20px;
        padding-right: 20px;
    }

@media only screen and (max-width: 550px) {
    .data-section_column-1 {
        padding-left: var(--space-md);
        padding-right: var(--space-md);
    }
}

.data-section_title-1 {
    color: var(--light_blue_a200) !important;
    font-family: 'Chakra Petch', sans-serif !important;
    text-align: center;
    line-height: 50px;
    @media only screen and (max-width: 1050px) {
        font-size: 27px;
    }

@media only screen and (max-width: 550px) {
    .data-section_title-1 {
        font-size: 21px;
    }
}

.column2024guias {
    gap: var(--space-md);
    display: flex;
    width: 32%;
    flex-direction: column;
    align-items: flex-end;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.class-2024guias {
    color: var(--light_blue_a200) !important;
    margin-right: 60px;
    font-family: 'Chakra Petch', sans-serif !important;
    text-align: center;
    line-height: 50px;
    @media only screen and (max-width: 1050px) {
        font-size: 27px;
        margin-right: 0px;
    }

@media only screen and (max-width: 550px) {
        font-size: 21px;
    }
}

.grand-guide_image {
    height: 96px;
    margin-top: -48px;
    position: relative;
    object-fit: cover;
    width: 100%;
    @media only screen and (max-width: 1440px) {
        height: auto;
    }

@media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.guide_column {
    margin-top: -14px;
    padding-left: 248px;
    padding-right: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    @media only screen and (max-width: 1440px) {
        padding-left: 20px;
        padding-right: 20px;
    }

@media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.guide_headline {
    font-family: 'Chakra Petch', !important;
    text-align: center;
    line-height: 49px;
    @media only screen and (max-width: 1050px) {
        font-size: 25px;
    }
}

.grandguide {
    margin-top: 78px;
    margin-left: 114px;
    margin-right: 98px;
    display: grid;
    gap: 94px;
    row-gap: 38px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    @media only screen and (max-width: 1440px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

@media only screen and (max-width: 1050px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-left: 0px;
        margin-right: 0px;
    }

@media only screen and (max-width: 550px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.row {
    margin-top: 228px;
}

.footer {
    background-color: var(--gray_900_01);
    display: flex;
    justify-content: center;
}

.guide-section {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1440px) {
        padding-left: 20px;
        padding-right: 20px;
    }

@media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.guide-section_content {
    width: 100%;
}

.guide-section_content--left-inner {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
@media only screen and (max-width: 1050px) {
            flex-direction: column;
        }
    }

    .guide-section_highlight {
        gap: var(--space-xs);
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: start;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
        }

    }
    
    .guide-section_descriptions {
        margin-bottom: 12px;
        align-self: stretch;
    }
    
    .guide-section_description-1 {
        margin-bottom: 12px;
        display: flex;
    }
    
    .guide-section_social-media {
        width: 12%;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 1050px) {
            width: 100%;
        }
    
    }
    
    .guide-section_social-media-container {
        margin-bottom: 22px;
        gap: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: end;
    }
    
    .guide-section_social-media-title {
        font-family: 'Open Sans' !important;
    }

    .guide-section__social-media-icons {
        height: 36px;
        width: 100%;
        @media only screen and (max-width: 1440px) {
            height: auto;
        }
    
    @media only screen and (max-width: 1050px) {
            height: auto;
        }
    }
    
    .guide-section_content--right-inner-1 {
        gap: var(--space-sm);
        display: flex;
        flex-direction: column;
    }
    
    .guide-section_item {
        margin-bottom: 82px;
        display: flex;
    }
    
    .guide-section_item-text {
        margin-bottom: 14px;
    }
    
    .guide-section_content--right-inner {
        gap: var(--space-md);
        display: flex;
        flex-direction: column;
    }
    
    .guide-section_list {
        margin-bottom: 26px;
    }
    
    .guide-section_list-item-container {
        margin-bottom: 12px;
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
        gap: var(--space-sm);
        display: flex;
        flex-direction: column;
    }

    .guide-section_list-iten-image {
        height: 66px;
        width: 12%;
        object-fit: contain;
        }

        .guide-section_list-iten-description {
        margin-bottom: 62px;
        display: flex;
        }
        
        .guide-section_list-iten-description-text {
        margin-bottom: 12px;
        }
    }
}