body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #101010;
    color: #FFFFFF;
}

body {
    font-family: 'Inter', sans-serif; /* Fonte padrão */
}

.header, .filters, .item-list, .pagination {
    font-family: 'Chakra Petch', sans-serif;
}

.breadcrumb-link {
    color: #007bff; /* Cor do link */
    text-decoration: none;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}

.header {
    margin-bottom: 20px; /* Espaçamento entre o header e o conteúdo principal */
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #2C2C2C;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Sombra para a esquerda e para cima, sem desfoque */
.item:hover {
    transform: translateY(-2px) scale(1.02) !important;
    box-shadow: 2px 1px 0px rgba(255, 238, 0, 1);
}


.logo img {
    font-family: 'Iceland', sans-serif;
}

.item-name, .item-description {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600; /* Ou 400 para semibold */
}

.item-price {
    font-family: 'Inter', sans-serif;
    font-weight: 700; /* Inter Black */
}

.item-status {
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* Inter Semibold */
}

.tools button {
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Inter Regular */
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Barra Lateral */
.sidebar {
    width: 220px;
    background-color: #2c2c2cc9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333333;
    height: 100vh; /* Adiciona altura total da tela */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}

.logo img {
    width: 40px;
    margin-bottom: 5px; /* Reduz o espaçamento abaixo do logo */
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 10px; /* Ajuste a margem conforme necessário */
    font-family: 'Poppins', sans-serif; /* Escolha a fonte que deseja usar */
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #ccc; /* Ajuste a cor do texto */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove a margem do ul */
}

.sidebar ul li {
    margin: 10px 0; /* Reduz o espaçamento entre os itens */
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: all 0.3s ease;
}

.sidebar ul li {
    position: relative;
    padding: 10px 10px;
    border-radius: 5px;
}

.sidebar ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 2px;
    transform: translateY(-50%);
}

.sidebar ul li:first-child::before {
    display: none;
}

.sidebar ul li i {
    margin-right: 12px;
    font-size: 15px;
}

/* Adicional para corrigir ícone ausente e alinhamento */
.sidebar ul li:first-child i {
    display: inline-block; /* Garante que o ícone seja exibido */
}

.sidebar ul li:hover {
    background-color: #2C2C2C;
    color: #FFD700;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #181818;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header .breadcrumb {
    font-size: 12px;
    color: #CCCCCC;
}

.header .breadcrumb .current {
    color: #FFFFFF;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tools button {
    background-color: #e7ae11;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.tools button i {
    margin-right: 8px;
}

/* Efeito de hover com animação na sombra */
.tools button:hover {
    background-color: #d89b11;
    box-shadow: 4px 4px 0px rgb(255, 255, 255); /* Sombra sólida que será animada */
    animation: rainbow-shadow 2s linear infinite; /* Animação infinita com cores do arco-íris */
}

/* Animação de troca de cores no box-shadow */
@keyframes rainbow-shadow {
    0% { box-shadow: 2px 2px 1px red; }
    14% { box-shadow: 2px 2px 1px orange; }
    28% { box-shadow: 2px 2px 1px yellow; }
    42% { box-shadow: 2px 2px 1px green; }
    57% { box-shadow: 2px 2px 1px blue; }
    71% { box-shadow: 2px 2px 1px indigo; }
    85% { box-shadow: 2px 2px 1px violet; }
    100% { box-shadow: 2px 2px 1px red; } /* Volta à cor inicial */
}

.search-bar {
    display: flex;
    background-color: #2C2C2C;
    border-radius: 5px;
    width: 300px;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #333333;
    color: #FFF;
    font-size: 14px;
    width: 100%;
}

.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #e7ae11;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #ba8800;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #252525;
    border-radius: 5px;
    font-weight: 600;
    color: #d3d3d3;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 12px;
}

.item-list {
    display: flex;
    flex-direction: column;
}

.item img {
    width: auto;
    height: auto;
    border-radius: auto;
}

.item-id, .item-name, .item-description, .item-price, .item-update, .item-status, .item-operations {
    font-size: 14px;
}

.item-status.published {
    color: #00FF7F;
    font-weight: 600;
}

.item-operations a {
    color: #ffd900;
    text-decoration: none;
    transition: color 0.3s ease;
}

.item-operations a:hover {
    color: #baae00;
}

.breadcrumb-link {
    color: #CCCCCC; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: 600; /* Mesma fonte em negrito */
}

.breadcrumb-link:hover {
    color: #ffffff; /* Cor do link ao passar o mouse */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.pagination-button {
    cursor: pointer;
    color: #ffd000;
    font-weight: 600;
    margin: 0 5px;
}

.pagination-button.active {
    font-weight: bold;
    color: #FFFFFF;
}

#page-numbers {
    display: flex;
}

#page-numbers span {
    margin: 0 5px;
    cursor: pointer;
}

#page-numbers .active {
    font-weight: bold;
    text-decoration: underline;
}

/* Estilo dos ícones */
.fas {
    font-size: 18px;
}

.pagination-button:hover {
    color: #FFFFFF;
}

.pagination span {
    cursor: pointer;
    color: #ffd000;
    font-weight: 600;
}

.pagination span:hover {
    color: #FFFFFF;
}

.filters, .item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr 1fr 1fr 1fr 2fr;
    align-items: center;
    text-align: center;
}

.item-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filters, .item {
    display: grid;
    grid-template-columns: 1fr 1.8fr 0.8fr 3fr 1fr 1fr 1fr 2fr; /* Aumenta a coluna do Nome e reduz a do Cover */
    align-items: center;
    text-align: center;
}

.item-cover {
    margin-left: 35px; /* Aproxima o Cover do Nome */
}

.item-id, .item-name, .item-description, .item-price, .item-update, .item-status, .item-operations {
    padding-left: 20px; /* Reduzindo o padding para aproximar o texto */
    padding-right: 20px; /* Reduzindo o padding para aproximar o texto */
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.category-toggle {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffe600;
}

.category-toggle:hover {
    color: #FFFFFF;
}

.item-quality.Sagrado::before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Necessário para ícones sólidos */
    color: #FF0000; /* Vermelho */
    margin-right: 8px;
}

/* Definindo classes de qualidade específicas */
.item-quality.Epico::before {
    content: '\f005'; /* Código do ícone de estrela cheia */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Necessário para ícones sólidos */
    color: #FC14EC; /* Amarelo */
    margin-right: 8px;
}

.item-quality.Lendário::before {
    content: '\f005'; /* Código do ícone de estrela cheia */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Necessário para ícones sólidos */
    color: #FFFF00; /* Amarelo */
    margin-right: 8px;
}

.item-quality.Exótico::before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Necessário para ícones sólidos */
    color: #FFA500; /* Laranja */
    margin-right: 8px;
}

.item-quality.Raro::before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Necessário para ícones sólidos */
    color: #0000FF; /* Azul */
    margin-right: 8px;
}

.item-quality.Incomum::before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Necessário para ícones sólidos */
    color: #008000; /* Verde */
    margin-right: 8px;
}

.item-quality.Comum::before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Necessário para ícones sólidos */
    color: #FFFFFF; /* Branco */
    margin-right: 8px;
}

.item-price::after {
    content: url('/public/pages/items/icons/gold.png'); /* Caminho do ícone */
    display: inline-block;
    margin-left: 5px; /* Espaçamento entre o valor e o ícone */
    vertical-align: middle; /* Alinha verticalmente com o texto */
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar ul {
    flex-grow: 1;
    padding-bottom: 10px;
}

.sidebar-footer {
    margin-top: auto;
    border-top: 1px solid #ccc; /* Adiciona uma linha divisória acima do botão */
    padding-top: 10px;
}

.sidebar-footer li {
    padding: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.sidebar-footer li i {
    margin-right: 10px;
}

.sidebar-footer li:hover {
    background-color: #333; /* Mesma cor de fundo ao passar o mouse, como os outros itens */
}

/* Estilos para os itens (links) */
.item-list a.item {  /* Seletor mais específico para os links */
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Herda a cor do elemento pai */
  }

  .statistics {
    display: flex;
    gap: 10px; /* Reduz o espaçamento entre as estatísticas */
    margin-bottom: 20px; /* Espaço entre as estatísticas e o botão Contribuir */
    justify-content: flex-end; /* Alinha as estatísticas à direita */
    flex-wrap: wrap; /* Permite que as estatísticas se movam para a linha seguinte em telas menores */
}

.statistic {
    background-color: #292929; /* Cor de fundo escura */
    border-radius: 6px; /* Cantos arredondados */
    padding: 10px 15px; /* Reduzido para um tamanho menor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
    min-width: 120px; /* Define uma largura mínima menor para cada estatística */
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
}

.stat-title, .stat-value {
    width: 100%; /* Garante que o título e o valor ocupem toda a largura disponível */
    text-align: left; /* Alinha o texto à esquerda */
}

.stat-value {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400; /* Regular weight for a clean look */
    font-size: 18px; /* Ajuste o tamanho conforme necessário */
    color: #ffffff; /* Cor clara para contraste */
}

.stat-title {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 1200; /* Bold weight for a robust look */
    font-size: 15px; /* Ajuste o tamanho conforme necessário */
    color: #A3A3A3; /* Cor mais escura para destaque */
    margin-bottom: 10px;
}

/* Estilo para o botão "Contribuir" */
.add-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo para o status verificado */
.item-status.verificado {
    color: #28a745; /* Cor verde para itens verificados */
}

/* Estilo para o status pendente */
.item-status.pendente {
    color: #ffc107; /* Cor amarela para itens pendentes */
}

/* Ícones para os status */
.item-status.verificado i {
    content: '\f058'; /* Ícone de círculo com check */
}

.item-status.pendente i {
    content: '\f071'; /* Ícone de triângulo com alerta */
}