/* src/styles/index.css */

@font-face {
    font-family: 'IcelandRegular';
    src: url('./icelandregular.ttf') format('truetype'); /* Atualize o caminho conforme necessário */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IcelandRegular', sans-serif; /* Use a fonte importada */
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

ul {
    margin-inline: unset !important;
}
